################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BusinessIntelligenceMod/bin/Debug
/BusinessIntelligenceMod/obj/Debug
/.vs/BusinessIntelligenceMod
/BusinessIntelligenceMod/Properties/AssemblyInfo.cs
